body {
	font-family: 'Raleway' , sans-serif; 
	box-sizing: border-box;
}

#homepage-link:hover {
	color: red;
}

.header {
	margin-top: -20px;

}

.header img {
	/*width: 100%;*/
	/*clip: rect(0px,60px,200px,0px);*/
}

#project-specific-img-page {
	/*width: 250px;*/
	height: 250px;
}

#project-specific-img-page-shockoe {
	/*width: 250px;*/
	height: 100px;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#header-bg {
	object-fit: cover;
	height: 375px;
	width: 100%;
}

.fitted-img {
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	/*padding-bottom: 20px;*/
	vertical-align: middle;
	/*padding-top: 8%;
	padding-bottom: 10%;*/

}

#navbar-custom {
	font-family: 'Raleway' , sans-serif;
	font-weight: 700;
	background-color: #2D3133;
	border-width: 0px;
	border-radius: 0px;
}

#navbar-custom a {
	color: #EBEBEB;
}

#nav-art a:hover {
	color: #2D3133;
	background-color: #89C3F5;
}

#nav-writing a:hover {
	color: #2D3133;
	background-color: #B8FCB9;
}

#nav-biz a:hover {
	color: #2D3133;
	background-color: #FCB8B8;
}

#nav-tech a:hover {
	color: #2D3133;
	background-color: #FCE5B8;
}

.circle-links {
	margin-top: 100px;
	position: absolute;
	width: 100%;
}

.circle-links :hover{
	text-decoration: none;
}

.circle {
width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-width: 2px;
  border-color: #2D3133;
  border-style: solid;
*/vertical-align: middle;
  margin: 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.circle:hover {
  background-color: red;
  z-index: 20;
  text-decoration: none;
  
}

#circle-art {
	background-color: rgba(51, 135, 207, 0.5);
	color: #2D3133;
}

#circle-art-off {
	background-color: rgba(51, 135, 207, 0);
	color: #2D3133;
}


#circle-art:hover {
	background-color: rgba(51, 135, 207, 1); /*#3387cf*/
	color: #EBEBEB;
}


#circle-art-home {
	color: #EBEBEB;
	background-color: rgba(51, 135, 207, 1);
}

#circle-writing {
	background-color: rgba(92, 199, 94, 0.5); /*#5cc75e*/
	color: #2D3133;
}

#circle-writing-off {
	background-color: rgba(51, 135, 207, 0);
	color: #2D3133;
}


#circle-writing:hover {
	background-color: rgba(92, 199, 94, 1); /*#5cc75e*/
	color: #EBEBEB;
}

#circle-writing-home {
	background-color: rgba(92, 199, 94, 1);
	color: #EBEBEB;
}

#circle-biz {
	background-color: rgba(218, 68, 68, 0.5); /*#da4444*/
	color: #2D3133;
}

#circle-biz-off {
	background-color: rgba(51, 135, 207, 0);
	color: #2D3133;
}

#circle-biz:hover {
	background-color: rgba(218, 68, 68, 1);
	color: #EBEBEB;
}

#circle-biz-home {
	background-color: rgba(218, 68, 68, 1);
	color: #EBEBEB;
}

#circle-tech {
	background-color: rgba(218, 168, 69, 0.5); /*#daa845*/
	color: #2D3133;
}

#circle-tech-off {
	background-color: rgba(51, 135, 207, 0);
	color: #2D3133;
}

#circle-tech:hover {
	background-color: rgba(218, 168, 69, 1);
	color: #EBEBEB;
}

#circle-tech-home {
	background-color: rgba(218, 168, 69, 1);
	color: #EBEBEB;
}

.content-type-1 {
	background-color: #2D3133;
	color: #EBEBEB;
	font-weight: normal;
	font-family: 'Raleway' , sans-serif;

}

.content-type-1 a{
	text-decoration: underline;
	color: #EBEBEB;
}

.content-type-1 a:hover{
	text-decoration: underline;
	color: #BFBFBF;
}

.heading {
	font-family:'Pacifico', cursive;
	padding-top: 20px;
	font-size: 30px;
	width: 50%;
	margin: 0 auto;
}

.content-type-1 .heading {
	
	border-bottom: 2px solid #EBEBEB;
	
}

.content-type-1 .heading a{
	text-decoration: none;
}

.content-type-1 .heading a:hover{
	text-decoration: none;
	color: #F0E895;
}

.content-type-2 {
	background-color: #EBEBEB;
	color: #2D3133;
	font-weight: normal;
	font-family: 'Raleway' , sans-serif;

}

.content-type-2 a{
	text-decoration: underline;
	color: #2D3133;
}

.content-type-2 a:hover{
	text-decoration: underline;
	color: #000000;
}

.content-type-2 .heading {
	border-bottom: 2px solid #2D3133;
}

.content-type-2 .heading a{
	text-decoration: none;
}

.content-type-2 .heading a:hover{
	text-decoration: none;
	color: #000;
}


.content-type-2 .body-content {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 14px;
}



.content-type-1 .body-content {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 14px;
}

.partial-border-bottom {
	border-bottom: 2px solid #f51c40;
	width: 40%;
	  position: relative;
	  top: 25px;
	  bottom: 0;
}

.content-type-1 .subheading {
	letter-spacing: 10px;
	padding-left: 3%;
	margin-bottom: -16px;
	color: #BFBFBF;
	text-transform: uppercase;
}

.content-type-1 .subheading-alt {
	letter-spacing: 10px;
	padding-left: 3%;
	margin-bottom: -16px;
	color: #EBEBEB;
	text-transform: uppercase;
}

.content-type-2 .subheading {
	letter-spacing: 10px;
	padding-left: 3%;
	margin-bottom: -16px;
	color: #2D3133;
	text-transform: uppercase;
}

.col-md-6 .body-content {
	padding-left: 5%;

}

.flex-row {
	display: flex;
	margin-top: 0;
	margin-bottom: 0;
}

footer {
	background-color: #2D3133;
	color: #EBEBEB;
}

.project-heading-box {
	background-color: #EBEBEB;
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-heading-box-2 {
	background-color: #2D3133;
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-heading {
	/*padding-top: 20px;*/
	color: #2D3133;
	font-size: 30px;
	border: 2px solid #2D3133;
	/*border-bottom: 2px solid #2D3133;*/
	width: 50%;
	margin: 0 auto;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.project-heading-box-art {
	background-color: rgba(51, 135, 207, 1);
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-heading-box-tech {
	background-color: rgba(218, 168, 69, 1);
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-heading-box-writing {
	background-color: #5cc75e;
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-heading-box-biz {
	background-color: rgba(218, 68, 68, 1);
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-heading-topic {
	/*padding-top: 20px;*/
	color: #EBEBEB;
	font-size: 30px;
	border: 2px solid #EBEBEB;
	/*border-bottom: 2px solid #2D3133;*/
	width: 50%;
	margin: 0 auto;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.project-heading-topic-2 {
	/*padding-top: 20px;*/
	color: #2D3133;
	font-size: 30px;
	border: 2px solid #2D3133;
	/*border-bottom: 2px solid #2D3133;*/
	width: 50%;
	margin: 0 auto;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.side-img {
	 background-size:contain;
	 background-repeat: no-repeat;
	 background-position: center; 
}

.github-dark:hover {
	content: url("../images/github-logo-black.png");
}

.itchio-dark:hover {
	content: url("../images/itchio-black.png");
}

.globe-dark:hover {
	content: url("../images/globe-icon-black.png");
}

.github-light:hover {
	content: url("../images/github-logo-lightgray.png");
}

.itchio-light:hover {
	content: url("../images/itchio-lightgray.png");
}

.globe-light:hover {
	content: url("../images/globe-icon-lightgray.png");
}



#monopoly {
	padding-top: 10px;
	padding-bottom: 10px;
}

#ward-block {
	background-color: #237794;
}

#nudge-block {
	background-color: #f8a71a;
}

#shockoe-block {
	background-color: #f57e2a;
}

#vigilant-block {
	/*background-color: #2E822F;*/
	background-image: url(../images/typewriter-darkened.jpg);
	background-size: cover;
	background-repeat: repeat-x;
}

#arbeau-block {
	background-color: #37978b;
}

#swummary-block {
	/*background-image: url("https://static.pexels.com/photos/113850/pexels-photo-113850.jpeg");*/
	background-image: url(../images/code-wall.jpeg);
	background-size: cover;
	background-repeat: repeat-x;

	background-color: rgba(255, 255, 255, 0);
}

#custom-icon-bar {
	background-color: #EBEBEB;
}

#monopoly {
	padding-top: 0px;
	padding-bottom: 0px;
}

@media only screen and (max-width: 767px) {
	.circle-links {
		margin-top: 20px;
	}

	#header-bg {
		height: 400px;
	}

	#circle-biz {
		margin-top: 20px;
	}

	#circle-biz-home {
		margin-top: 20px;
	}

	#circle-tech {
		margin-top: 20px;
	}

	#circle-tech-home {
		margin-top: 20px;
	}

	.project-heading {
		font-size: 20px;
	}

	.project-heading-topic {
		font-size: 20px;
	}

	.project-heading-topic-2 {
		font-size: 20px;
	}

	.flex-row {
		display: inline;
		/*margin-top: -20px;
		margin-bottom: -20px;*/
	}

	#monopoly {
		padding-top: 10px;
		/*padding-bottom: 10px;*/
	}

	#project-specific-img-page-shockoe {
		/*width: 250px;*/
		height: 80px;
	}

	#facebook-embed {
		margin-left: -10px;
	}

	#art-span{
		color: #3387cf !important;
	}

	#writing-span{
		color: #3387cf !important;
	}
	
	
}

@media only screen and (max-width: 992px) {
	.col-md-6 .body-content {
		padding-left: 0;
		padding-right: 0;
	}

/*	.flew-row + .row {
		margin-top: -20px;
	}*/

/*	.flex-row .col-md-6 {
		margin-top: -20px;
	}*/

	.fitted-img {
		padding-top: 0;
		padding-bottom: 20px;
	}

/*	footer {
		margin-top: -20px;
	}*/

	.project-heading {
	/*padding-top: 20px;*/
	/*border-bottom: 2px solid #2D3133;*/
		width: 75%;
	}

	.project-heading-topic {
		width: 75%;
	}

	.project-heading-topic-2 {
		width: 75%;
	}

	.heading {
		width: 75%;	
	}

	.artwork-resize {
		width: 312px;
		height: 100%;
	}


}


