.venn-diagram .outer/*div*/ {
  width: 240px;
  height: 240px;
  border-radius: 50%;
/*  pointer-events: none;*/
  position: absolute;
  font-family: 'Parisienne', cursive;
  font-size: 20px;
  margin-top; auto;
  margin-bottom; auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

#outer1 {
  left: 0px;
  top: 0px;
}

#outer2 {
  left: 180px;
  top: 0px;
}
#outer3 {
   left: 0px;
  /*left: 85px;*/
  top: 140px;
}
#outer4 {
   left: 180px;
  /*left: 85px;*/
  top: 140px;
}
.outer {
  z-index: 1;
  pointer-events: auto;
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  vertical-align: middle;
}
/*.venn-diagram #outer1 */.outer:hover {
  background-color: red;
  z-index: 20;
}