<div class="container-fluid bg-pink content">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-lg-3"></div>
			<div class="col-md-8 col-lg-6">
				<div class="row">
					<div class="col-12 about-page-content">
						<h1 class="text-center">About</h1>
						<p>
							Hello, I’m Dylan! I’m a developer, designer, content creator, and all-around doer of things!
						</p>
						<p>
							I have five years of experience as a professional web developer and nine years of personal experience as a Unity game developer. 
						</p>
						<p>
							I’ve volunteered, organized, and acted as a moderator for cool organizations and communities like <a href="http://finji.co/">Finji</a>, <a href="https://www.blaseball.com/">Blaseball</a>, and <a href="https://rvagamejams.com/">RVA Game Jams</a>.
						</p>
						<p>
							I’ve run panels about <a href="http://ward-games.com/hidden-gems/">showcasing indie games</a>, <a href="http://ward-games.com/wardcast/episode-241-how-to-fund-your-video-game-pax-online-2020/">learning how to talk to game publishers</a>, and <a href="http://ward-games.com/wardcast/episode-229-have-i-made-it/">figuring out whether or not you’ve “made it” in the games industry</a>.
						</p>
						<p>
							I produced and hosted a podcast for over six years about the games industry, and I’ve interviewed tons of great people across game development and games media, including <a href="https://www.youtube.com/watch?v=-rwnLuJTHCE">Tim Schafer</a>, <a href="http://ward-games.com/wardcast/episode-164-the-quiet-man-fan/">Patrick Klepek</a>, <a href="http://ward-games.com/wardcast/episode-119-unpaxxed-s-2018-night-1/">Bekah Saltsman</a>, and many, many more!
						</p>
						<p>
							I’m always looking for my next opportunity, so if you’d like to get in touch, feel free to use any of the below methods to reach out!
						</p>
						<a href="mailto: dylanilvento@gmail.com" class="btn btn-primary mt-4">Email</a>
						<a href="https://twitter.com/dylanilvento" class="btn btn-primary">Twitter</a>
						<a href="https://www.linkedin.com/in/dylanilvento/" class="btn btn-primary">LinkedIn</a>
						<a href="<%- url_for('files/dylan-ilvento-resume.pdf') %>" class="btn btn-primary">View Résumé</a>
					</div>

				</div>

			</div>
			<div class="col-md-2 col-lg-3"></div>
		</div>
	</div>
</div>