@charset "UTF-8";
.project-card#ward-games-website {
  background-position-x: 0; }
  @media only screen and (max-width: 375px) {
    .project-card#ward-games-website {
      background-position-x: 0;
      background-size: 407px; } }

.project-card#polyose {
  background-position-x: -15%; }
  @media only screen and (max-width: 1399px) {
    .project-card#polyose {
      background-position-x: -27%; } }
  @media only screen and (max-width: 774px) {
    .project-card#polyose {
      background-position-x: 219%; } }
  @media only screen and (max-width: 575px) {
    .project-card#polyose {
      background-position-x: -27%; } }
  @media only screen and (max-width: 375px) {
    .project-card#polyose {
      background-position-x: 0;
      background-size: 400px; } }

.project-card#bantam {
  background-position-x: -35%; }
  @media only screen and (max-width: 1399px) {
    .project-card#bantam {
      background-position-x: -55%; } }
  @media only screen and (max-width: 1199px) {
    .project-card#bantam {
      background-position-x: -28%; } }
  @media only screen and (max-width: 991px) {
    .project-card#bantam {
      background-position-x: -229%; } }
  @media only screen and (max-width: 767px) {
    .project-card#bantam {
      background-position-x: 163%; } }
  @media only screen and (max-width: 575px) {
    .project-card#bantam {
      background-position-y: 0; } }
  @media only screen and (max-width: 375px) {
    .project-card#bantam {
      background-position-x: 100%;
      background-size: 400px; } }

.project-card#chiroptera {
  background-position-x: -20%; }
  @media only screen and (max-width: 1399px) {
    .project-card#chiroptera {
      background-position-x: -39%; } }
  @media only screen and (max-width: 1199px) {
    .project-card#chiroptera {
      background-position-x: -17%; } }
  @media only screen and (max-width: 991px) {
    .project-card#chiroptera {
      background-position-x: -209%; } }
  @media only screen and (max-width: 767px) {
    .project-card#chiroptera {
      background-position-x: 175%; } }
  @media only screen and (max-width: 575px) {
    .project-card#chiroptera {
      background-position-y: -25%; } }

.project-card#morning {
  background-position-x: -30%; }
  @media only screen and (max-width: 1399px) {
    .project-card#morning {
      background-position-x: -50%; } }
  @media only screen and (max-width: 1199px) {
    .project-card#morning {
      background-position-x: -25%; } }
  @media only screen and (max-width: 991px) {
    .project-card#morning {
      background-position-x: -175%; } }
  @media only screen and (max-width: 767px) {
    .project-card#morning {
      background-position-x: 175%; } }
  @media only screen and (max-width: 575px) {
    .project-card#morning {
      background-position-x: 175%; } }

.project-card#project-lexa {
  background-position-x: -15%; }
  @media only screen and (max-width: 991px) {
    .project-card#project-lexa {
      background-position-x: -45%; } }
  @media only screen and (max-width: 767px) {
    .project-card#project-lexa {
      background-position-x: 310%; } }

.project-card#project-sunset-city {
  background-position-x: -15%; }
  @media only screen and (max-width: 1399px) {
    .project-card#project-sunset-city {
      background-position-x: -47%; } }
  @media only screen and (max-width: 1199px) {
    .project-card#project-sunset-city {
      background-position-x: -33%; } }
  @media only screen and (max-width: 991px) {
    .project-card#project-sunset-city {
      background-position-x: -100%; } }
  @media only screen and (max-width: 768px) {
    .project-card#project-sunset-city {
      background-position-x: 100%; } }
  @media only screen and (max-width: 767px) {
    .project-card#project-sunset-city {
      background-position-x: 645%; } }

.project-card#ld-43 {
  background-position-x: -24.75%; }
  @media only screen and (max-width: 1399px) {
    .project-card#ld-43 {
      background-position-x: -43%; } }
  @media only screen and (max-width: 1199px) {
    .project-card#ld-43 {
      background-position-x: -19%; } }
  @media only screen and (max-width: 991px) {
    .project-card#ld-43 {
      background-position-x: -211%; } }
  @media only screen and (max-width: 767px) {
    .project-card#ld-43 {
      background-position-x: 231%; } }

.project-card#knight-life {
  background-position-x: -24.75%; }
  @media only screen and (max-width: 1399px) {
    .project-card#knight-life {
      background-position-x: -35%; } }
  @media only screen and (max-width: 991px) {
    .project-card#knight-life {
      background-position-x: -190%; } }
  @media only screen and (max-width: 767px) {
    .project-card#knight-life {
      background-position-x: 192%; } }
  @media only screen and (max-width: 375px) {
    .project-card#knight-life {
      background-position-x: 0;
      background-size: 366px; } }

.project-card#why-‘super-mario-sunshine’-is-good-actually {
  background-position-x: -22%; }
  @media only screen and (max-width: 1399px) {
    .project-card#why-‘super-mario-sunshine’-is-good-actually {
      background-position-x: -47%; } }
  @media only screen and (max-width: 1199px) {
    .project-card#why-‘super-mario-sunshine’-is-good-actually {
      background-position-x: -28%; } }
  @media only screen and (max-width: 991px) {
    .project-card#why-‘super-mario-sunshine’-is-good-actually {
      background-position-x: -85%; } }
  @media only screen and (max-width: 767px) {
    .project-card#why-‘super-mario-sunshine’-is-good-actually {
      background-position-x: 147%; } }

.project-card#best-games-played-2019-day-8-loveliest-followup {
  background-position-x: -55%; }
  @media only screen and (max-width: 1199px) {
    .project-card#best-games-played-2019-day-8-loveliest-followup {
      background-position-x: -29%; } }
  @media only screen and (max-width: 991px) {
    .project-card#best-games-played-2019-day-8-loveliest-followup {
      background-position-x: -92%; } }
  @media only screen and (max-width: 767px) {
    .project-card#best-games-played-2019-day-8-loveliest-followup {
      background-position-x: 160%; } }

.project-card#best-games-played-2019-day-1-most-reverent {
  background-size: cover; }

.project-card#daredevil-season-1-was-one-of-the-greatest-crime-dramas-of-all-time {
  background-position-x: -45%; }
  @media only screen and (max-width: 1399px) {
    .project-card#daredevil-season-1-was-one-of-the-greatest-crime-dramas-of-all-time {
      background-position-x: -160%; } }
  @media only screen and (max-width: 1199px) {
    .project-card#daredevil-season-1-was-one-of-the-greatest-crime-dramas-of-all-time {
      background-position-x: -33%; } }
  @media only screen and (max-width: 991px) {
    .project-card#daredevil-season-1-was-one-of-the-greatest-crime-dramas-of-all-time {
      background-position-x: -350%; } }
  @media only screen and (max-width: 767px) {
    .project-card#daredevil-season-1-was-one-of-the-greatest-crime-dramas-of-all-time {
      background-position-x: 150%; } }

@media only screen and (max-width: 1399px) {
  .project-card#amalgama {
    background-position-x: -41%; } }
@media only screen and (max-width: 1199px) {
  .project-card#amalgama {
    background-position-x: -35%; } }
@media only screen and (max-width: 991px) {
  .project-card#amalgama {
    background-position-x: -265%; } }
@media only screen and (max-width: 767px) {
  .project-card#amalgama {
    background-position-x: 215%; } }
@media only screen and (max-width: 575px) {
  .project-card#amalgama {
    background-position-y: -24%; } }
@media only screen and (max-width: 375px) {
  .project-card#amalgama {
    background-position-y: 0%;
    background-position-x: 70%;
    background-size: 365px; } }

@media only screen and (max-width: 991px) {
  .project-card#commonwealth-data-point {
    background-position-x: -118%; } }
@media only screen and (max-width: 767px) {
  .project-card#commonwealth-data-point {
    background-position-x: 119%; } }
@media only screen and (max-width: 575px) {
  .project-card#commonwealth-data-point {
    background-position-x: 50%;
    background-size: 481px; } }

@media only screen and (max-width: 991px) {
  .project-card#arbeau {
    background-position-x: -232%; } }
@media only screen and (max-width: 767px) {
  .project-card#arbeau {
    background-position-x: 143%; } }

@media only screen and (max-width: 991px) {
  .project-card#best-games-played-2018-day-10-freshest-storytelling {
    background-position-x: -23%; } }
@media only screen and (max-width: 767px) {
  .project-card#best-games-played-2018-day-10-freshest-storytelling {
    background-position-x: 100%; } }

@media only screen and (max-width: 767px) {
  .project-card#peak {
    background-position-x: 50%; } }
@media only screen and (max-width: 575px) {
  .project-card#peak {
    background-position-y: -25%; } }

@media only screen and (max-width: 767px) {
  .project-card#best-games-played-2019-day-6-quickest-revolution {
    background-position-x: 84%; } }

@media only screen and (max-width: 375px) {
  .project-card#track-trek {
    background-size: 397px; } }

.project-card#stabilized {
  background-position-x: -12%; }
  @media only screen and (max-width: 767px) {
    .project-card#stabilized {
      background-position-x: 197%; } }
  @media only screen and (max-width: 575px) {
    .project-card#stabilized {
      background-position-y: -19%; } }

/*# sourceMappingURL=project-card.css.map */
